    @import url(https://fonts.googleapis.com/css?family=Mitr:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
    * {
        font-family: 'Mitr';
        transition: 0.2s;
    }
    body {
        background: #f7f7f1;
    }
    .pn-color {
        background: #e3c23f;
    }
    .pn-text {
        color: #e3c23f;
    }
    .navbar{
        box-shadow: none;
    }
    nav .navbar-nav li a{
        color: #727264 !important;
        border: 1px solid #fafaf8;
        margin-left: 4px;
        border-radius: 5px;
    }
    nav .navbar-nav li a:hover{
        background: #fafaf8;
    }
    .card {
        box-shadow: none;
        border: 1px solid #dfdfdf;
    }
     /*
    .navbar-nav > .p-active > a {
        border: 3px solid #727264;
      } */